{% extends "saldo_document.html" %}
{% block content %}
<center><p>segment: {{ segment }}</p>
<p>continuations:  {{ j["c"] }} </p>
<table border="1">
<tr><th>gf</th><th>id</th><th>pos</th><th>is</th><th>msd</th><th>p</th></tr>
{% for a in j["a"] %}
<tr>
<td>{{ a["gf"] }}</td>
<td><a href="{{ url_for("saldo-ws:lid-html", lid=a["id"]) }}">{{ a["id"] }}</a></td>
<td>{{a["pos"]}}</td>
<td>{{a["is"]|join(" ")}}</td>
<td>{{a["msd"]}}</td>
<td>{{a["p"]}}</td>
</tr>
{% endfor %}
</center>
{% endblock %}
